
<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card" *ngIf="product$ | async as product">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ product?.title }}</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="tabs">
        <ul>
          <li class="is-active"><a>General Info</a></li>
          <li><a>Music</a></li>
          <li><a>Videos</a></li>
          <li><a>Documents</a></li>
        </ul>
      </div>

      <div>
        {{product.title}}
        {{product.description}}
        {{product.brand}}
        {{product.tags}}
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-success">Save changes</button>
        <button class="button" (click)="closeModal()">Cancel</button>
      </div>
    </footer>
  </div>
</div>
